<style>
    .my-container {
        display: flex; flex-flow: row;
        width: 600pt;
    }
    .table-wrapper {
        width: 50%;
    }
    .vscroll-table {
        height: 100pt;
    }
</style>
<h2>Firefox issues with @swimlane/ngx-datatable with angular14+</h2>
<div class="my-container">
    <div class="table-wrapper">
        <h3>Ngx-Datatable without vertical scrollbar</h3>
        <ngx-datatable
            class="material"
            [rows]="rows"
            [rowHeight]="20"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="30"
            [scrollbarH]="true"
            [footerHeight]="50"
        >
        </ngx-datatable>
    </div>
    <div class="table-wrapper">
        <h3>Ngx-Datatable Firefox-Issue with v scrollbar</h3>
        <ngx-datatable
            class="material vscroll-table"
            [rows]="rows"
            [rowHeight]="20"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="true"
            [footerHeight]="50"
        >
        </ngx-datatable>
    </div>
</div>
